.about {
    margin-top: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
}

@media only screen and (min-width: 720px) {
    .about {
        flex-direction: row;
    }
}

.aboutblocks {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.aboutrow {
    display: flex;
    flex-direction: row;
}

.aboutsection {
    width: 85%;
    margin: auto;
    line-height: 1.6;
    padding-bottom: 3%;
    background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.abouttitle {
    padding-bottom: 4%;
    padding-top: 2%;
    font-size: 2rem;

}

.aboutnumber {
    font-size: 2.5rem;
    font-weight: normal;
    /* gradient on text */
    background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutimg {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin-left: em; */
    height: auto;
    width: 80vw;
    max-width: 100%;
    /* border: 5px solid; */
    box-shadow: 4px 13px 30px 1px rgba(56, 213, 252, 0.2);
    border-radius: 20px;
    /* border-image: linear-gradient(45deg, #c5dbf0, rgb(44, 140, 205)) 1; */
    object-fit: fill;
    overflow: hidden;
    transition: transform .2s;
}

.aboutimg:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 500px){
    .aboutimg{
        width: 60vw;
    }
}

@media only screen and (min-width: 720px){
    .aboutimg{
        width: 50vw;
    }
}

@media only screen and (min-width: 900px) {

    .aboutimg {
        width: 40vw;
    }

}

@media only screen and (min-width: 1024px) {

    .aboutimg {
        width: 35vw;
    }
}

@media only screen and (min-width: 1500px) {

    .aboutimg {
        width: 30vw;
    }
}

.aboutelement {
    padding: 8%;
}

.abouttext {
    font-size: 1rem;
    font-weight: bolder;
    background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 720px) {
    .aboutsection {
        margin: 0;
        margin-left: 2%;
        margin-right: 5%;
        width: 50%;
    }

    .abouttitle {
        font-size: 3.5rem;
    }

    .aboutnumber {
        font-size: 2.65rem;
    }

    .abouttext {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1120px) {
    .aboutnumber {
        font-size: 4rem;
    }

    .abouttext {
        font-size: 1.5rem;
    }
}

.projects {
    font-size: 1em; 
    color: white;
}

.stats {
    height: auto;
    width: auto;
    position: absolute;
    bottom: 1rem;
    left: -1rem;
}

@media only screen and (min-width: 370px){
    .projects {
        font-size: 1.2em; 
    }
}

@media only screen and (min-width: 900px){
    .projects {
        font-size: 1.5em; 
    }
}

@media only screen and (min-width: 1100px){
    .projects {
        font-size: 1.7em; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1200px){
    .projects {
        font-size: 2em;
        padding: 20px;
    }
}

.statsContainer {
    position: relative;
    font-family: sans-serif;
}


.statsContainer .statsBox {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
}

.statsContainer .statsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statsContainer .statsBox .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
}

.statsContainer .statsBox div strong {
    display: block;
    margin-bottom: .5rem;
}

.statsContainer .statsBox div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
}

.statsContainer .statsBox div span {
    font-size: .7rem;
    font-weight: 300;
}

.statsContainer .statsBox div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

.statsContainer .statsBox:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}