.about {
    margin-top: 5%;
    margin-bottom: 5%;
    /* background: linear-gradient(to right, #c5dbf0 , rgb(135, 178, 206)); */
    display: flex;
    flex-direction: column;
    padding: 5%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    /* border: 1px solid rgba(255, 255, 255, 0.39); */
}

@media only screen and (min-width: 720px) {
    .about {
        flex-direction: row;
    }
}

.aboutblocks {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 5%; */
}

.aboutrow {
    display: flex;
    flex-direction: row;
    /* margin: 5%;   */
}

.aboutsection {
    width: 70%;
    /* margin-left: auto; */
    margin: auto;
    line-height: 1.6;
    padding-bottom: 3%;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* font-size: 72px; */
    /* gradient on text */
    background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.abouttitle {
    padding-bottom: 4%;
    padding-top: 2%;
    font-size: 2rem;

}

.aboutnumber {
    font-size: 2.5rem;
    font-weight: normal;
    /* gradient on text */
    background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aboutimg {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 5px solid;
    border-image: linear-gradient(45deg, purple, orange) 1;
    /* height: 360px; 
    width: 300px; */
     
  }
        
      

.aboutelement {
    padding: 8%;
    /* text-align: center; */
}

.abouttext {
    font-size: 1rem;
    font-weight: bolder;
    /* gradient on text */
    background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 720px) {
    .aboutsection {
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        width: 50%;
    }

    .abouttitle {
        font-size: 3.5rem;
    }

    .aboutnumber {
        font-size: 2.65rem;
    }

    .abouttext {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1120px) {
    .aboutnumber {
        font-size: 4rem;
    }

    .abouttext {
        font-size: 1.5rem;
    }
}


