
.twobuttons,
.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --fs-size: 1.5em;
    --border-right: 4px;
}

.guidebutton {
    display: none;
}



@media only screen and (min-width: 720px) {
    .twobuttons {
        flex-direction: row;
        --fs-size: 2em;
        --border-right: 6px;
    }

    .guidebutton {
        display: inline-block;
        margin-left: 15px;
    }

    .discordbutton {
        margin-right: 15px;
    }
}


/* === removing default button style ===*/
.discordbutton,
.guidebutton,
.sponsorbutton {
    cursor: pointer;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.discordbutton,
.guidebutton,
.sponsorbutton {
    --text-stroke-color: rgba(255, 255, 255, 1);
    --animation-color: #2AAEE3;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.discordbutton:hover .hover-text,
.guidebutton:hover .hover-text ,
.sponsorbutton:hover .hover-text{
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}