.footer{
    text-align: center;
    color: #ffffff;
    /* background: linear-gradient(to right, #00cccc , rgb(7, 63, 100)); */
    background: linear-gradient(to right,#c5dbf0 ,rgb(135, 178, 206));

    padding: 1%;
}