* {
    box-sizing: border-box;
  }
  
  .nav {
    height: 65px;
    width: 100%;
    /* background: linear-gradient(to right, #c5dbf0 , rgba(84, 179, 238, 0.14)); */
    background: linear-gradient(180deg,#c5dbf0 ,rgb( 135, 178, 206,.14));
       /* From https://css.glass */
/* background: rgba(255, 255, 255, 0.14); */
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(255, 255, 255, 0.39);
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding: 15px 10px 10px 0px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 20px 20px 10px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgb(24, 142, 220);
    box-shadow: rgb(24, 174, 220) 0px 7px 29px 0px;
    color: #e7e3e3;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .navimg{
    width: 40%;
    overflow: clip;
    /* left: 0 ; */
    /* height: 10%; */
  }

  @media only screen and (min-width: 400px){
    .navimg{
      width: 20%;
    }
  }

  /* @media only screen and (min-width: 600px){
    .navimg{
      width: 10%;
    }
  } */

  @media only screen and (min-width: 720px){
    .navimg{
      width: 15%;
      margin-top: 1%;
    }
  }

  @media only screen and (min-width: 920px){
    .navimg{
      width: 9%;
      margin-top: 0.5%;
    }
  }
  
  @media (max-width:720px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 15px;
      border-top: 2px solid rgb(0, 0, 0);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

  }