* {
  box-sizing: border-box;
}

.navs {
  height: 65px;
  width: 100%;
  /* background: linear-gradient(to right, #c5dbf0 , rgba(84, 179, 238, 0.14)); */
  background: linear-gradient(180deg, rgba(217, 239, 248, 0.2), rgb(135, 178, 206, .02));
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.14); */
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  /* border: 1px solid rgba(255, 255, 255, 0.39); */
  position: relative;
}

.navs>.navs-header {
  display: inline;
}

.navs>.navs-header>.navs-title {
  display: inline-block;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  padding: 15px 10px 10px 0px;
}

.navs>.navs-btn {
  display: none;
}

.navs>.navs-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.navs>.navs-links>a {
  display: inline-block;
  padding: 20px 20px 20px 10px;
  text-decoration: none;
  color: #e7e3e3;
}

.navs>.navs-links>a:hover {
  background-color: rgb(24, 142, 220);
  box-shadow: rgb(24, 174, 220) 0px 7px 29px 0px;
  color: #e7e3e3;
}

.navs>#navs-check {
  display: none;
}

.navsimg {
  width: 40%;
  overflow: clip;
  /* left: 0 ; */
  /* height: 10%; */
}

@media only screen and (min-width: 400px) {
  .navsimg {
    width: 20%;
  }
}

/* @media only screen and (min-width: 600px){
    .navsimg{
      width: 10%;
    }
  } */

@media only screen and (min-width: 720px) {
  .navsimg {
    width: 15%;
    margin-top: 1%;
  }
}

@media only screen and (min-width: 920px) {
  .navsimg {
    width: 9%;
    margin-top: 0.5%;
  }
}

@media (max-width:720px) {
  .navs>.navs-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .navs>.navs-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .navs>.navs-btn>label:hover,
  .navs #navs-check:checked~.navs-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navs>.navs-btn>label>span {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 25px;
    height: 15px;
    border-top: 3px solid white;
  }

  .navs>.navs-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .navs>.navs-links>a {
    display: block;
    width: 100%;
  }

  .navs>#navs-check:not(:checked)~.navs-links {
    height: 0px;
  }

  .navs>#navs-check:checked~.navs-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

}